<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
    />
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            crossorigin="anonymous"
    />

    <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"-->
    <!--      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    {% block styles %}
    {% endblock %}

    <title>{% block title %}Home{% endblock %}</title>

    <link rel="icon"
          type="image/ico"
          href="static/images/favicon.ico">

    <!-- dropzone -->
    {{ dropzone.load_css() }}
    {{ dropzone.style('border: 2px dashed #0087F7; margin: 2% 10% 2% 10% ; min-height: 400px;') }}
    <style>
.bg{
  backdrop-filter: blur(6px);
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 50%;
  padding: 20px;
}

    </style>

</head>

<body style="background-color: #1A374D; min-height: 100vh;
  display: flex;
  flex-direction: column;">
<nav class="navbar navbar-expand-lg navbar-light bg-light py-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" style="Andale Mono, monospace; color: #1A374D;">
            <img alt="Logo" class="d-inline-block align-text-top" height="24" src="static/images/favicon.ico"
                 width="30">
            <strong>TalkitOut</strong>
        </a>
    </div>
    <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbar"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
            {% if user.is_authenticated %}
            <a class="nav-item nav-link" id="home" href="/" style="Andale Mono, monospace; color: #1A374D;">Home</a>
            <a class="nav-item nav-link" id="logout" href="/logout" style="Andale Mono, monospace; color: #1A374D;">Logout</a>
            {% else %}
            <a class="nav-item nav-link" id="login" href="/login"
               style="Andale Mono, monospace; color: #1A374D;">Login</a>
            <a class="nav-item nav-link" id="signUp" href="/sign-up" style="Andale Mono, monospace; color: #1A374D;">SignUp</a>
            {% endif %}
        </div>
    </div>
</nav>
{% with messages = get_flashed_messages(with_categories=true) %} {% if
messages %} {% for category, message in messages %} {% if category ==
'error' %}
<div class="alert alert-danger alter-dismissable fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% else %}
<div class="alert alert-success alter-dismissable fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %} {% endfor %} {% endif %} {% endwith %}

<div class="bg">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                {% block content %}
                {% endblock %}
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>


<!-- sweetalerts -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"
></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"
></script>
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"
></script>
<footer style="margin-top: auto;
position: relative;
            width: 100%;
            background: #282828;
            min-height: 80px;
            padding: 20px 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;">
    <p style="color: white">TalkitOut &copy;ahsplore </p>
</footer>
</body>
</html>
