{% extends "base2.html" %}
{% block styles %}
<style>
    .card {
    border: none;
    }
</style>
{% endblock %}
{% block title %}TalkitOut-Audio generate{% endblock %}
{% block content %}

<div class="mt-4">
    <div class="card card-style mt-3">
        <div class="card card-style mb-0" style="background-color: #1A374D;">
            <form action="" method="POST">
                {{ form.csrf_token() }}
                <fieldset class="form-group">
                    <legend class="mb-4" style="Andale Mono, monospace; color: white;"><h3>Get Audio</h3></legend>
                    <div class="form-group mb-3">
                        <label class="form-control-label" for="text_field"
                               style="Andale Mono, monospace; color: white;"><h4>Text</h4></label>
                        {{ form.text_field.label(class="form-control-label") }}
                        {% if form.text_field.errors %}
                        {{ form.text_field(class="form-control form-control-sm is-invalid") }}
                        {% for error in form.text_field.errors %}
                        <div class="invalid-feedback">
                            <span>{{ error }}</span>
                        </div>
                        {% endfor %}
                        {% else %}
                        {{ form.text_field(class="form-control form-control-sm") }}
                        {% endif %}
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputField">{{ form.language_field.label }}</label>
                        </div>
                        {{ form.language_field(class="custom-select") }}
                    </div>
                    <div class="form-group.border-bottom-pd-3 mt-4">
                        {{ form.submit(class="btn btn-outline-info") }}
                    </div>
                    <br>
                    <br>
                    <p style="Andale Mono, monospace; color: white;">Want to know the meaning of a word, you can refer
                        here:</p>
                    <div class="d-flex justify-content-right mt-4">
                        <a href="{{ url_for('auth.dictionary') }}" class="btn btn-outline-info">Dictonary</a>
                    </div>
                </fieldset>
            </form>

        </div>
    </div>
</div>

{% if audio %}
<div class="d-flex justify-content-center mt-4">
    <audio controls class="m-auto">
        <source src="{{ url_for('static', filename='audio_files/' + file) }}">
        Your browser does not support the audio
    </audio>

</div>
{% endif %}


<script>
    document.getElementById("submit").addEventListener("click", function(){
    swal({
        title: "File upload in process",
        text: "Please wait... this can take sometime.",
        button: "Okay"
        })
    })
</script>

{% endblock %}
