{% extends "base2.html" %}
{% block styles %}
    <style>
        body {
        background-color: #1A374D;
        }
        h2 {
        font-family: 'Trebuchet MS', sans-serif;
        color: white;
        text-align: center;
        }

    </style>
{% endblock %}
{% block title %}TalkitOut-Upload Page{% endblock %}
{% block content %}

<div class="justify-content-center mt-4">
    <h2>Drop Image File To Get the Audio and Text</h2>
</div>
{{ dropzone.create(action='upload') }}
{{ dropzone.load_js() }}
{{ dropzone.config() }}

{% endblock %}